<h1> Phone Number Added! </h1>

<p> Number was successfully saved.</p>

<p><a href="/contacts/<%= @contact.id %>">View <%= @contact.name %></a></p>

<p><a href="/contacts">Return to Main Page</a></p>
